.body{
    background-color: rgba(20, 20, 20, 1);

}
#s1{
    background-image: url(background.png);
    background-position: right;
    background-size:cover;
}
#s2{

    background-image: url(background2.png);
    background-position: center;
    background-size:cover;
}
.container{

    background-color: rgb(25, 25, 25);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    margin-top: -4%;
    margin-left: 0%;
    padding-bottom: 1px;
    border-bottom: 2px solid white;

}
.portfolio{
    height: 200px;
    width: 200px;
    background-image: url(IMG_3869.jpg);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position-x: -22px;
    background-position-y: -160px;
    border-radius: 100%;
    margin-top: 1%;
    margin-left: 3%;
    float: left;
    border: 10px solid white;
}
@font-face {
  font-family: CustomFont;
  src: url(CF.ttf);

  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: CustomFont2;
    src: url(Simpleness.otf);
}
#pf{
    
    font-size: 50px;
    color: white;
    letter-spacing:5px;
    font-family: CustomFont;
    text-align: center;
    padding-top: 5%;
    margin-right: 8%;
    

}
#name p{

    font-family: CustomFont2;
    letter-spacing: 5px;
    color: rgba(25, 25, 25, 0.9);
    font-size: 40px;
    padding-bottom: 1%;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    display: inline;
    padding-left: 24%;
    padding-right: 20%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    border-bottom: 5px solid black;
}
#education{
    margin-top: 5%;
}
#education ,#experiecne ,#skills{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    color: rgba(255, 255, 255);
    border-bottom: 4px solid white;
    border-bottom-left-radius: 15%;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 2%;
    padding-right: 2%;
    display: block;
    margin-right: 80%;
}
#edD , #exD ,#sD{
    
    background-color: rgba(20, 20, 20 , 0.8);
    margin: 2% 10% 2% 10% ;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    padding-left: 2%;
    padding-right: 2%;
    padding: 1%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}
ul{

    font-family: CustomFont;
    
}
li{
    font-size: 18px;
    list-style: disc;
}
#sD li{

    font-family: CustomFont;
    font-size: 24px;
}
#sD p{
    font-size: 16px;
}